<%- include('../partials/head') %>
<link rel="stylesheet" href="/css/login.css">
<%- include('../partials/header') %>

<div class="login-bg">
    <main>
        <h1>
            <%= title %>
        </h1>
        
        <%- messages() %>

        <div class="login-container">
            <form action="/account/login" method="post" class="login-form">
                <label for="email">Email Address:</label>
                <input type="email" id="email" name="email" required>

                <label for="password">Password</label>
                <div class="password-requirements">
                    Passwords must be <strong>at least 12 characters</strong> and include
                    <strong>1 capital letter</strong>, <strong>1 number</strong>, and
                    <strong>1 special character</strong>.
                </div>
                <input type="password" id="password" name="password" required minlength="12"
                    pattern="^(?=.*\d)(?=.*[a-z])(?=.*[A-Z])(?=.*[^a-zA-Z0-9])(?!.*\s).{12,}$">
                <button type="button" id="show-password">Show Password</button>
                <button type="submit">Login</button>
            </form>
            <div class="signup-link">
                No account? <a href="/account/register">Sign-up</a>
            </div>
        </div>
    </main>
</div>

<%- include('../partials/footer') %>
