<%- include("../partials/head") %>
    <div class="home-content">
        <%- include('../partials/header') %>
            <%- include('../partials/nav') %>


                <main>
                    <% if (title) { %>
                        <h1>
                            <%= title %>
                        </h1>
                        <% } %>


                            <% if (vehicles && vehicles.length> 0) { %>
                                <div class="vehicle-grid">
                                    <% vehicles.forEach(function(vehicle) { %>
                                        <div class="grid-item">
                                            <img src="<%= vehicle.inv_thumbnail %>"
                                                alt="Image of <%= vehicle.inv_make %> <%= vehicle.inv_model %>">
                                            <h2>
                                                <a href="/inv/detail/<%= vehicle.inv_id %>">
                                                    <%= vehicle.inv_make %>
                                                        <%= vehicle.inv_model %>
                                                </a>
                                            </h2>
                                            <p class="price">$<%= new Intl.NumberFormat('en-US', {
                                                    minimumFractionDigits: 0, maximumFractionDigits: 0
                                                    }).format(Math.round(vehicle.inv_price)) %>
                                            </p>


                                            <div class="actions">
                                                <a href="/inv/edit/<%= vehicle.inv_id %>" class="btn btn-edit">Edit</a>
                                                <form action="/inv/delete-inventory" method="post" class="delete-form">
                                                    <input type="hidden" name="inv_id" value="<%= vehicle.inv_id %>" />
                                                    <button type="submit" class="btn btn-delete"
                                                        onclick="return confirm('Are you sure you want to delete this vehicle?')">Delete</button>
                                                </form>
                                            </div>
                                        </div>
                                        <% }) %>
                                </div>
                                <% } else { %>
                                    <p class="notice">Sorry, no matching vehicles could be found.</p>
                                    <% } %>
                </main>
    </div>
    <%- include('../partials/footer') %>