<%- include("../partials/head") %>
<div class="home-content">
    <%- include('../partials/header') %>
    <%- include('../partials/nav') %>

    <main>
        <%- detail %>
    </main>
</div>
<%- include('../partials/footer') %>
